In [1]:
liked_books = ["703663","197710","34373"]

In [2]:

#reads the file into our dictionary
csv_book_mapping = {}

with open("book_id_map.csv", "r") as f:
    while True:
        line = f.readline()
        if not line:
            break
        csv_id, book_id = line.strip().split(",")
        csv_book_mapping[csv_id] = book_id

In [3]:
csv_book_mapping['0']

'34684622'

In [4]:


overlap_users = set()
#uses a set to make every element unique
with open("goodreads_interactions.csv", 'r') as f:
    while True:
        line = f.readline()
        if not line: #prevent infinite loop
            break
        user_id, csv_id, _, rating, _ = line.split(",")
        
        if user_id in overlap_users: #if we have already added this user as an overlapped user
            continue

        try: #try to parse the rating as an int
            rating = int(rating)
        except ValueError:
            continue
        
        book_id = csv_book_mapping[csv_id]
        #checks if the user has a similar liked book AND if they gave it above a 4 rating
        if book_id in liked_books and rating >= 4: 
                overlap_users.add(user_id)
        #if they did add the user to the set

In [5]:


rec_lines = []
#similar to before just runs through the file
with open("goodreads_interactions.csv", 'r') as f:
    while True:
        line = f.readline()
        if not line:
            break
        user_id, csv_id, _, rating, _ = line.split(",")
        #if the user is in the overlap section add their rated books into the reclines
        if user_id in overlap_users:
            book_id = csv_book_mapping[csv_id]
            rec_lines.append([user_id, book_id, rating])

In [6]:


import pandas as pd
#sets up a chart to visualize the current data we have using pandas
recs = pd.DataFrame(rec_lines, columns=["user_id", "book_id", "rating"])
recs["book_id"] = recs["book_id"].astype(str)

In [7]:
recs

      user_id  book_id rating
0        2867    48855      4
1        2867  6493208      5
2        2867    13214      5
3        2867    36529      4
4        2867   318742      4
...       ...      ...    ...
68224  875425    52036      4
68225  875425   231804      5
68226  875425    28676      4
68227  875425     9915      0
68228  875425     7126      5

[68229 rows x 3 columns]

In [8]:
top_recs = recs["book_id"].value_counts().head(10) #top 10 book recs that occured the most frequently
top_recs = top_recs.index.values
books_titles = pd.read_json("books_titles.json")#read in the json file from before 
books_titles["book_id"] = books_titles["book_id"].astype(str)#use the values to actually get to a title

In [9]:
books_titles.head()

,book_id,title,ratings,url,cover_image,mod_title
0,7327624,"The Unschooled Wizard (Sun Wolf and Starhawk, ...",140,https://www.goodreads.com/book/show/7327624-th...,https://images.gr-assets.com/books/1304100136m...,the unschooled wizard sun wolf and starhawk 12
1,6066819,Best Friends Forever,51184,https://www.goodreads.com/book/show/6066819-be...,https://s.gr-assets.com/assets/nophoto/book/11...,best friends forever
2,287141,The Aeneid for Boys and Girls,46,https://www.goodreads.com/book/show/287141.The...,https://s.gr-assets.com/assets/nophoto/book/11...,the aeneid for boys and girls
3,6066812,All's Fairy in Love and War (Avalon: Web of Ma...,98,https://www.goodreads.com/book/show/6066812-al...,https://images.gr-assets.com/books/1316637798m...,alls fairy in love and war avalon web of magic 8
4,287149,The Devil's Notebook,986,https://www.goodreads.com/book/show/287149.The...,https://images.gr-assets.com/books/1328768789m...,the devils notebook

In [10]:


books_titles[books_titles["book_id"].isin(top_recs)] 
#reads through the data

,book_id,title,ratings,url,cover_image,mod_title
140511,1885,Pride and Prejudice,2078406,https://www.goodreads.com/book/show/1885.Pride...,https://images.gr-assets.com/books/1320399351m...,pride and prejudice
463463,4671,The Great Gatsby,2758812,https://www.goodreads.com/book/show/4671.The_G...,https://images.gr-assets.com/books/1490528560m...,the great gatsby
615314,5470,1984,2023937,https://www.goodreads.com/book/show/5470.1984,https://images.gr-assets.com/books/1348990566m...,1984
770177,7613,Animal Farm,1928931,https://www.goodreads.com/book/show/7613.Anima...,https://images.gr-assets.com/books/1424037542m...,animal farm
790927,2657,To Kill a Mockingbird,3255518,https://www.goodreads.com/book/show/2657.To_Ki...,https://images.gr-assets.com/books/1361975680m...,to kill a mockingbird
878545,3,Harry Potter and the Sorcerer's Stone (Harry P...,4765497,https://www.goodreads.com/book/show/3.Harry_Po...,https://images.gr-assets.com/books/1474154022m...,harry potter and the sorcerers stone harry pot...
882752,18135,Romeo and Juliet,1656919,https://www.goodreads.com/book/show/18135.Rome...,https://images.gr-assets.com/books/1503315424m...,romeo and juliet
960610,34373,"Dante's Inferno (the Divine Comedy, Volume 1, ...",1106,https://www.goodreads.com/book/show/34373.Dant...,https://s.gr-assets.com/assets/nophoto/book/11...,dantes inferno the divine comedy volume 1 hell
995137,15881,Harry Potter and the Chamber of Secrets (Harry...,1821802,https://www.goodreads.com/book/show/15881.Harr...,https://images.gr-assets.com/books/1474169725m...,harry potter and the chamber of secrets harry ...
1248586,6,Harry Potter and the Goblet of Fire (Harry Pot...,1792561,https://www.goodreads.com/book/show/6.Harry_Po...,https://images.gr-assets.com/books/1361482611m...,harry potter and the goblet of fire harry pott...

In [11]:
#creates a dataset of how many times a book appears in our set
all_recs = recs["book_id"].value_counts()
#makes the index a seperate column
all_recs = all_recs.to_frame().reset_index()
all_recs.columns = ["book_id", "book_count"]
all_recs.head(5)

  book_id  book_count
0   34373          81
1    2657          62
2    4671          58
3       3          55
4    5470          55

In [12]:
all_recs = all_recs.merge(books_titles, how="inner", on="book_id") #if the data doesn't exist in all rows get rid of it

#finally sorts through all books 
all_recs["score"] = all_recs["book_count"] * (all_recs["book_count"] / all_recs["ratings"])


all_recs.sort_values("score", ascending=False).head(10)

,book_id,book_count,title,ratings,url,cover_image,mod_title,score
0,34373,81,"Dante's Inferno (the Divine Comedy, Volume 1, ...",1106,https://www.goodreads.com/book/show/34373.Dant...,https://s.gr-assets.com/assets/nophoto/book/11...,dantes inferno the divine comedy volume 1 hell,5.932188
69,703663,25,When Bad Things Happen to Good People,218,https://www.goodreads.com/book/show/703663.Whe...,https://s.gr-assets.com/assets/nophoto/book/11...,when bad things happen to good people,2.866972
7756,18125076,2,A Modern Celt: Seeking the Ancestors,16,https://www.goodreads.com/book/show/18125076-a...,https://images.gr-assets.com/books/1378681247m...,a modern celt seeking the ancestors,0.250000
7055,2033009,2,Marriage and the Family in the Middle Ages,18,https://www.goodreads.com/book/show/2033009.Ma...,https://images.gr-assets.com/books/1373071385m...,marriage and the family in the middle ages,0.222222
4413,1354693,2,Edmund Dulac's Fairy Book,18,https://www.goodreads.com/book/show/1354693.Ed...,https://images.gr-assets.com/books/1331061173m...,edmund dulacs fairy book,0.222222
6244,759991,2,Creation and Fall/Temptation: Two Biblical Stu...,21,https://www.goodreads.com/book/show/759991.Cre...,https://s.gr-assets.com/assets/nophoto/book/11...,creation and falltemptation two biblical studies,0.190476
5316,1322096,2,What Your Fourth Grader Needs to Know : Fundam...,21,https://www.goodreads.com/book/show/1322096.Wh...,https://images.gr-assets.com/books/1320548612m...,what your fourth grader needs to know fundamen...,0.190476
5213,1868914,2,"Christmas Gifts, Christmas Voices: A Holiday N...",21,https://www.goodreads.com/book/show/1868914.Ch...,https://s.gr-assets.com/assets/nophoto/book/11...,christmas gifts christmas voices a holiday nov...,0.190476
7849,555520,2,Undercurrents,24,https://www.goodreads.com/book/show/555520.Und...,https://s.gr-assets.com/assets/nophoto/book/11...,undercurrents,0.166667
6324,1475504,2,An Introduction to the Apocrypha,27,https://www.goodreads.com/book/show/1475504.An...,https://s.gr-assets.com/assets/nophoto/book/11...,an introduction to the apocrypha,0.148148